// Elements – styling for bare HTML elements - no classes or modifiers

body {
	font-size: 16px;
	line-height: normal;
}

h1, h2 {
	//@include global-heading-medium;
}

h1, h2, h3, h4, h5, h6 {
	@include global-heading;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

label {
	margin: 0;
}

p {
	//@include global-body-medium;
}

svg {
	
	@include ie-only {
		max-height: 1em;
	}
}