// Global class-based selectors, put all bare element styling in elements.scss
.button-primary {
	background-color: $color-burnt-sienna;
	border-radius: 30px;
	padding: 10px 40px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	transition: background-color 250ms ease;
	
	&:hover {
		background-color: darken($color-burnt-sienna, 10%);
	}
}