$gutters: 15px;

// Colors
$color-geyser: #DCE2E8;
$color-prussian-blue: #002D53;
$color-burnt-sienna: #E76E36;
$color-viking: #80BCDD;

// grey
$color-alto: #D8D8D8;

// Global values
$global-border-radius: 3px;
$global-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.3);

// z-index
